.first-row, .mid-row {
    display: flex;
}

.product-container{
    margin-top: 100px;
    margin-bottom: 100px;
    max-width: 1200px;
    background: transparent;
    margin-right: auto;
    margin-left: auto;
    position: relative;

}

.productname{
    display: inline-block;
    text-align: left;
    max-width: 1200px;
    background: transparent;
}
.price{
    display: inline-block;
    background: #0d4b77;
    border-radius: 10px;
}

.picture img {
    width: 600px;
}
.description {
    position: relative;
    width: 598px;
    height: 400px;
    background: transparent;
    border: 1px solid black;
}
.buybutton {
    position: absolute;
    bottom: 0;
}
.buy {
    width: 200px;
    height: 30px;
    background: #0d4b77;
    border: 0.5px solid black;
}
