.first-row, .mid-row {
    display: flex;
    background: white;


}
.mid-row{
    margin-top: 80px;
    background: white;
}

.product-container{
    background: white;
    margin-top: 50px;
    margin-bottom: 100px;
    max-width: 1200px;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    position: relative;

}

/*body{*/
/*    background: url("https://lekkergezond.nl/content/uploads/sites/2/201749.lekker-gezond.pepernoten.jpg");*/

/*}*/

.productname{
    text-align: center;
    padding: 10px;

    display: inline-block;
    max-width: 1200px;
    background: #0b6cb3;
    color: lavender;
}



.picture img {
    width: 550px;
    background: white;
    margin-right: 50px;



}
.description {
    position: relative;
    width: 598px;
    border: 1px solid black;
    padding: 25px;
    background: #0b6cb3;
    color: white;
}

.price{
    position: absolute;
     display: inline-block;
     background: #0d4b77;
     border-radius: 10px;
    bottom: -48px;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    left: 0;
 }

.buybutton {
    position: absolute;
    bottom: -48px;
    right: 0px;
    background: white;
}

.buybutton input:hover[type=submit] {
  font-weight: bold;
  border: 5px;
  background-color: #1b2f94;
  cursor: pointer;
  border-radius: 8px;
}

.buy {
    color: white;
    width: 200px;
    height: 30px;
    background: #0d4b77;
    border: 0.5px solid black;
}
