.product-container{
    max-width: 1200px;
    background: transparent;
    margin-right: auto;
    margin-left: auto;

}

.productname{
    text-align: left;
    max-width: 1200px;
    background: transparent;
    margin-left: auto;
    margin-right: auto;
}
.price{
    margin-left: 50%;
    margin-right: 35%;
    background: red;
    border-radius: 10px;
}
.picture{
    float:left;
    margin-left: auto;
    margin-right: auto;

}

.picture img {
    width: 600px;
}
.description{
    margin-top: 100px;
    float: left;
    width: 598px;
    height: 400px;
    background: transparent;
    border: 1px solid black;
}
.buy{
    width: 200px;
    height: 30px;
    background: red;
    border: 0.5px solid black;
}
