* { padding: 0; margin: 0; }
body {font-family: "Bahnschrift", Times, serif;}
a { text-decoration: none; }
li { list-style-type: none; }
:focus { outline:0; }
::-webkit-input-placeholder { font-style: italic; color: #b5b2b2; }

.logo {
    width: 128px;
}

.nav-container {
    padding: 20px;
    color: #ffffff;
    background: #0d4b77;
}

.nav-container a {
    color: #ffffff;
}

.nav-bar {
    margin: 0 auto;
    max-width: 1200px;
}

.logo-nav, .search-nav, .profile-nav {
    display: inline-block;
    vertical-align: middle;
}

.search-nav {
    position: relative;
    margin-left: 12.5%;
}

.profile-nav {
    float: right;
}

.search-nav input[type="text"] {
    padding: 10px;
    border: none;
    width: 550px;
    border-radius: 5px;
}

.profile {
    width: 12px;
    margin-left:20px;
}

.cart {
    width: 18px;
    margin-left: 20px;
}

.cart-container {
    position: relative;
    display: inline-block;
}

span.welkom {
    margin-right: 20px;
}

span.cart-count {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: -12px;
    font-size: 12px;
    width: 13px;
    text-align: center;
    background: #00bcf2;
    border-radius: 360px;
}

input.search {
    border: none;
    background: url(../images/search-ico.png);
    background-size: cover;
    position: absolute;
    right: 10px;
    height: 19px;
    width: 13px;
    top: 6px;
    cursor: pointer;
}

/*------------------ Categorie --------------------*/
.category-container {
  text-align: center;
}

.category-bar {
  width: 100%;
  height: 60px;
  background-color: #0b6db3;
}

.category-bar ul {

}

.category-bar ul li {
  display: inline-block;
  list-style: none;
  position: relative;
}

.category-bar ul li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 20px;
}

.category-bar li a:hover {
  background: #117fce;
}

/*------------------------Contact---------------------*/
.contactinfo {
  width: 400px;
  padding: 25px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  background-color: gray;
  border-style: groove;
  border-radius: 15px;
  color: white;
}

.contactinfo span {
  color: #0d4b77;
}

.mapslocation {
  text-align: center;
  padding: 20px;
  margin: auto;
}

/*-----------------------Footer--------------------------*/

.footer {
  width: 100%;
  padding: 10px;
  background-color: gray;
  color: white;
  text-align: center;
  text-decoration: none;
}

.footer a {
  color: white;
}

/*------------------ product-list --------------------*/
.showProduct {
  background-color: #0d4b77;
  width: 40%;
  height: 300px;
  display: inline-block;
  margin-top: 10px;
  margin-left: 5%;

}

.products-container{
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;

}

/*--------------------Index Body------------------*/

.indexbody {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border-style: dotted;
}

.body-p {
  color: blue;
  font-size: 20;
}

.favorites {
  margin-bottom: 20px;
  display: inline-block;
}
