* { padding: 0; margin: 0; }
body { font-family: Arial; }
a { text-decoration: none; }
li { list-style-type: none; }
:focus { outline:0; }
::-webkit-input-placeholder { font-style: italic; color: #b5b2b2; }

.logo {
    width: 128px;
}

.nav-container {
    padding: 20px;
    color: #ffffff;
    background: #0d4b77;
}

.nav-container a {
    color: #ffffff;
}

.nav-bar {
    margin: 0 auto;
    max-width: 1200px;
}

.logo-nav, .search-nav, .profile-nav {
    display: inline-block;
    vertical-align: middle;
}

.search-nav {
    position: relative;
    margin-left: 50px;
}

.profile-nav {
    float: right;
    margin-left: 50px;
}

.search-nav input[type="text"] {
    padding: 10px;
    border: none;
    width: 550px;
    border-radius: 5px;
}

.profile {
    width: 12px;
    margin-left:20px;
}

.cart {
    width: 18px;
    margin-left: 20px;
}

.cart-container {
    position: relative;
    display: inline-block;
}

span.welkom {
    margin-right: 20px;
}

span.cart-count {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: -12px;
    font-size: 12px;
    width: 13px;
    text-align: center;
    background: #00bcf2;
    border-radius: 360px;
}

input.search {
    border: none;
    background: url(../images/search-ico.png);
    background-size: cover;
    position: absolute;
    right: 10px;
    height: 19px;
    width: 13px;
    top: 6px;
    cursor: pointer;
}