* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Arial", Times, serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

:focus {
    outline: 0;
}

::-webkit-input-placeholder {
    font-style: italic;
    color: #b5b2b2;
}

.logo {
    width: 128px;
}

.nav-container {
    padding: 20px;
    color: #ffffff;
    background: #0d4b77;
}

.nav-container a {
    color: #ffffff;
}

.nav-bar {
    margin: 0 auto;
    max-width: 1200px;
}

select.select-search {
    position: absolute;
    right: 30px;
    top: 6px;
    border: 0;
    background: white;
}

.logo-nav, .search-nav, .profile-nav {
    display: inline-block;
    vertical-align: middle;
}

.search-nav {
    position: relative;
    margin-left: 12.5%;
}

.profile-nav {
    float: right;
}

.search-nav input[type="text"] {
    padding: 10px;
    border: none;
    width: 550px;
    border-radius: 5px;
}

.profile {
    width: 21px;
    margin-left: 20px;
}

.cart {
    width: 18px;
    margin-left: 20px;
}

.cart-container {
    position: relative;
    display: inline-block;
}

span.welkom {
    margin-right: 20px;
}

span.cart-count {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: -12px;
    font-size: 12px;
    width: 13px;
    text-align: center;
    background: #00bcf2;
    border-radius: 360px;
}

input.search {
    border: none;
    background: url(../images/search-ico.png);
    background-size: cover;
    position: absolute;
    right: 10px;
    height: 19px;
    width: 13px;
    top: 6px;
    cursor: pointer;
}

/*------------------ Categorie --------------------*/
.category-container {
    text-align: center;
}

.category-bar {
    width: 100%;
    height: 60px;
    background-color: #0b6db3;
}

.category-bar ul {

}

.category-bar ul li {
    display: inline-block;
    list-style: none;
    position: relative;
}

.category-bar ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 20px;
}

.category-bar li a:hover {
    background: #117fce;
    text-shadow: 1px 1px gray;
}

/*------------------------Contact---------------------*/
.contactinfo {
    width: 400px;
    padding: 25px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    background-color: gray;
    border-style: groove;
    border-radius: 15px;
    color: white;
}

.contactinfo span {
    color: #0d4b77;
}

.mapslocation {
    text-align: center;
    padding: 20px;
    margin: auto;
}

/*-----------------------Footer--------------------------*/

.footer {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: gray;
    color: white;
    text-align: center;
    text-decoration: none;
}

.footer a {
    font-weight: bold;
    color: white;
    text-decoration: underline;
}

.footerlogo {


}

.location {
    text-align: right;
}

.locationlogo p {
    color: black;
    font-weight: bold;
}

.locationlogo {
    display: inline-block;

}

.locationlogo img {
    width: 40px;
}

/*------------------ product-list --------------------*/

.sum-count li {
    display: inline-block;
    margin-left: 25px;
}

.sum-count a {
    background: #0a6db3;
    color: white;
    padding: 10px;
    display: block;
}

.sum-count {
    text-align: center;
}

.pagination-li {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

a.pagination {
    font-weight: bold;
    color: #0d4b77;
    padding: 5px;
}

a.selected-page {
    background: gray;
    color: white;
}

.product-list {
    width: 350px;
    display: inline-block;
    margin-top: 25px;
    margin-left: 23px;
    padding: 10px;
    text-align: center;
}

.product-anchor {
    background-color: #0d4b77;
    padding: 10px;
    display: block;
}

.product_photo {
    background: white;
    border: 1px solid white;
}

.product_text {
    margin-bottom: 10px;
    margin-top: 10px;
    color: white;
    height: 35px;
}

.products-container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
    margin-top: 25px;

}

/*--------------------Index Body------------------*/

.indexbody {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.body-p {
    color: white;
    font-weight: bold;
    font-size: 24px;
    border-style: solid;
    border-radius: 6px;
    background-color: #3a98fc;
}

.favorites {
    margin-left: 10px;
    margin-top: 25px;
    margin-bottom: 20px;
    display: inline-block;
    padding: 20px;
    background-color: #0b6cb3;
}

.favorites a {
    color: white;
    text-shadow: 1px 1px gray;
}

/*---------------------Contactformulier------------------*/
.bericht {
    text-align: center;
    font-style: oblique;
    color: #0d4b77;
    text-shadow: 0.1px 0.1px gray;
    font-weight: bold;
}

.contactformulier {
    text-align: center;
}

.contactformulier input[type=text], select {
    width: 25%;
    padding: 2px 1px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

.contactformulier button[type=submit] {
    width: 25%;
    background-color: #0d4b77;
    color: white;
    padding: 10px 7px;
    margin: 6px 0;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.contactformulier button[type=submit]:hover {
    background-color: #0349fc;
}

.contactformulier textarea {
    width: 380px;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    display: inline-block;
}


/*----------------------Winkelwagen------------------*/

hr.price-divider {
    margin: 10px;
}

.container_winkelwagen {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 5px solid #0d4b77;
    border-radius: 8px;
    width: 1200px;
    background-color: #0b6cb3;

}
.betaal-btn:hover{
    background-color: #0349fc;
}

.header_winkelwagen p {
    padding: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background: #073169;
}

.product_winkelwagen {
    margin: 20px;
    width: 95%;
    padding: 25px;
}

.leeg {
    font-size: 22px;
    font-weight: bold;
    color: white;
    padding: 20px;
}

.item-in-cart {
    position: relative;
    background-color: #0d4b77;
    padding: 10px;
    margin: 10px;
}

.item-in-cart li {
    display: inline-block;
}

.price-tag {
    position: absolute;
    background: #0b6cb3;
    padding: 10px;
    border-radius: 20px;
    left: 15%;
    top: 15%;
}

.item-in-cart h3 {
    color: white;
}

.item-in-cart a {
    color: white;
}

.item-in-cart a:hover {
    cursor: pointer;
    color: #4287f5;
}

.AmountInCart {
    text-align: right;
    color: white;
    margin: 10px;
    padding: 10px;
    font-size: 18px;
}

.betaal-btn {
    border-radius: 10px;
    border: 1px solid black;
    background: #0d4b77;
    padding: 15px;
    color: white;
    margin-right: 10px;
    margin-top: 25px;
    cursor: pointer;
}

.betaal-btn-container {
    margin-top: 25px;
    text-align: right;
    height: 50px;
}

.subtotal {
    text-align: right;
    color: white;
    margin: 10px;
    padding: 10px;
    font-size: 18px;
}

input.input-text {
    border: 0;
    padding: 10px;
    display: block;
    width: 45%;
    margin: 25px;
    height: 45px;
    border-radius: 8px;
}

.btn1 {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-left: 25px;
    padding: 10px 50px;
    margin-bottom: 25px;
    background: #0d4b77;
    color: white;
    border: unset;
    font-size: 18px;
}

.steps li {
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    display: inline-block;
    margin: 0;
    width: 33.333333%;
}

.steps li.active {
    background: #31a6fd;
}

.steps li:last-child {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

.steps li:first-child {
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.steps-to-pay {
    width: 700px;
    margin: 20px auto;
    background: #0c6cb3;
    border-radius: 8px;
}

.steps {
    display: flex;
    width: 100%;
}

input[type="number"] {
    background: unset;
    border: unset;
    font-size: 18px;
    color: white;
    width: 100px;
    text-align: center;
}

li.numbering {
    background: #0c6cb3;
    border-radius: 8px;
}

/*-------------------Confirmation/Thank you page-----------*/
.thank-you-for-buying {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 50%;
    padding: 50px;
    border-style: solid;
    border-color: #0f2a8a;
    background-color: #2c93f2;
    border-radius: 8px;
    margin-bottom: 50px;
}

.thank-you-for-buying h1 {
    text-align: center;
}

.quantity {
    background: #2c93f2;
    padding: 5px;
}

.delete-item {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
}

.quantity-items {
    position: absolute;
    top: 50%;
    left: 15%;
}

.btw-price {
    position: absolute;
    bottom: 5px;
    right: 19px;
}

li.btw {
    margin-right: 15px;
    font-size: 13px;
}

/*----------------Reviews op reviewsite.php------------*/
.invitation-container {
  padding-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 4px solid blue;
  width: 500px;
  text-align: center;
}

.invitation-message {
  text-align: center;
  text-decoration: underline;
}

.invitation-message a {
  color: white;
}

.invitation-message a:hover {
  color: blue;
}

.current-container {
  background: url(../images/kerstboom.jpg) no-repeat center fixed;
  padding: 20px;
}

.current-ratings-and-reviews {
  color: #e9ecf7;
  background-color: #6783eb;
  border-radius: 15px;
  padding-top: 25px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 175px;
  text-align: left;
  display: block;
}

.current-ratings-and-reviews a {
  color: white;
}

.current-ratings-and-reviews a:hover {
  color: blue;
}

.reviews-on-site-content a {
  color: white;
}

.reviews-on-site-content a:hover {
  color: blue;
  text-decoration: underline;
}

/*------------------formulier op writereview.php-----------*/
.form-review-container {
  background: url(../images/kerstboom.jpg) no-repeat center fixed;
  padding: 75px;
}

.form-review-content {
  color: #e9ecf7;
  background-color: #6783eb;
  border-radius: 15px;
  padding-top: 25px;
  padding-left: 20px;
    padding-right: 22px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 360px;
  text-align: left;
  display: block;
}

.form-review-content h2 {
    text-align: center;
}
.form-review-content input[type=submit]{

    background-color: #0d4b77;
    border-style: solid;
    border-color: #0d4b77;
    border-radius: 10px;
    padding: 7.5px;
    color: white;
    width: 168px;
    margin-left: 65%;
    margin-top: 5%;
    cursor: pointer;
}
.form-review-content input[type=submit]:hover{
    background-color: #0349fc;
}
/*--------------Revies op reviewsite.php----------------*/
.reviews-on-site-container {
    padding: 25px;
    background-color: #0d4b77;
}

.reviews-on-site-content {
    max-width: 1200px;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
}

p.review-omschrijving {
    font-size: 24px;
}

.review {
    position: relative;
    max-width: 60%;
    background: #0a6db3;
    padding: 20px;
    color: white;
    margin-top: 10px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
}

a.remove-review {
    position: absolute;
    right: 10px;
    top: 10px;
    background: red;
    padding: 2px 5px;
    border-radius: 10px;
}

a.remove-review:hover {
    text-decoration: none;
    color:red;
    background: white;
}

.date-review {
    margin-top: 10px;
}


.snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
}

.snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: snowflakes-fall,snowflakes-shake;
    -webkit-animation-duration: 10s,3s;
    -webkit-animation-timing-function: linear,ease-in-out;
    -webkit-animation-iteration-count: infinite,infinite;
    -webkit-animation-play-state: running,running;
    animation-name: snowflakes-fall,snowflakes-shake;
    animation-duration: 10s,3s;
    animation-timing-function: linear,ease-in-out;
    animation-iteration-count: infinite,infinite;
    animation-play-state: running,running;
}

.snowflake:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 1s,1s;
    animation-delay: 1s,1s;
}

@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%,100%{transform:translateX(0)}50%{transform:translateX(80px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}.snowflake:nth-of-type(10){left:25%;-webkit-animation-delay:2s,0s;animation-delay:2s,0s}.snowflake:nth-of-type(11){left:65%;-webkit-animation-delay:4s,2.5s;animation-delay:4s,2.5s}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    position: absolute;
    width: 80px;
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 12px;
}

.tooltip-bottom::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    left: 52px;
}

.tooltip-bottom {
    top: 135%;
    left: 50%;
    margin-left: -60px;
}

/*------------------Accounts------------------*/
.login-bg {
    background: #0b4b77;
}

.login-container {
    padding: 50px;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

.login-box {
    max-width: 700px;
    margin: auto;
    background: #0a6db3;
    padding: 20px;
    text-align: center;
}

.login-box h3 {
    color: white;
}

.form-control-register {
    font-size: 14px;
    margin: 10px auto 0 auto;
    width: 75%;
    height: 40px;
    border: unset;
    border-radius: 8px;
    padding: 14px;
    display: block;
}

input.email-login, input.password-login {
    font-size: 14px;
    margin: 20px auto 20px auto;
    width: 75%;
    height: 40px;
    border: unset;
    border-radius: 8px;
    padding: 14px;
    display: block;
}

button.loginbutton {
    font-size: 14px;
    color: white;
    padding: 10px 35px;
    border: unset;
    background: #0b4b77;
    cursor: pointer;
}

a.registerbutton {
    margin-top: 20px;
    display: block;
    color: white;
    text-decoration: none;
}

a.registerbutton:hover {
    text-decoration: underline;
}