* { padding: 0; margin: 0; }
body {font-family: "Arial", Times, serif;}
a { text-decoration: none; }
li { list-style-type: none; }
:focus { outline:0; }
::-webkit-input-placeholder { font-style: italic; color: #b5b2b2; }

.logo {
    width: 128px;
}

.nav-container {
    padding: 20px;
    color: #ffffff;
    background: #0d4b77;
}

.nav-container a {
    color: #ffffff;
}

.nav-bar {
    margin: 0 auto;
    max-width: 1200px;
}

select.select-search {
    position: absolute;
    right: 30px;
    top: 6px;
    border: 0;
    background: white;
}

.logo-nav, .search-nav, .profile-nav {
    display: inline-block;
    vertical-align: middle;
}

.search-nav {
    position: relative;
    margin-left: 12.5%;
}

.profile-nav {
    float: right;
}

.search-nav input[type="text"] {
    padding: 10px;
    border: none;
    width: 550px;
    border-radius: 5px;
}

.profile {
    width: 12px;
    margin-left:20px;
}

.cart {
    width: 18px;
    margin-left: 20px;
}

.cart-container {
    position: relative;
    display: inline-block;
}

span.welkom {
    margin-right: 20px;
}

span.cart-count {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: -12px;
    font-size: 12px;
    width: 13px;
    text-align: center;
    background: #00bcf2;
    border-radius: 360px;
}

input.search {
    border: none;
    background: url(../images/search-ico.png);
    background-size: cover;
    position: absolute;
    right: 10px;
    height: 19px;
    width: 13px;
    top: 6px;
    cursor: pointer;
}

/*------------------ Categorie --------------------*/
.category-container {
  text-align: center;
}

.category-bar {
  width: 100%;
  height: 60px;
  background-color: #0b6db3;
}

.category-bar ul {

}

.category-bar ul li {
  display: inline-block;
  list-style: none;
  position: relative;
}

.category-bar ul li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 20px;
}

.category-bar li a:hover {
  background: #117fce;
  text-shadow: 1px 1px gray;
}

/*------------------------Contact---------------------*/
.contactinfo {
  width: 400px;
  padding: 25px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  background-color: gray;
  border-style: groove;
  border-radius: 15px;
  color: white;
}

.contactinfo span {
  color: #0d4b77;
}

.mapslocation {
  text-align: center;
  padding: 20px;
  margin: auto;
}

/*-----------------------Footer--------------------------*/

.footer {
  width: 100%;
  padding-top: 10px;
    padding-bottom: 10px;
  background-color: gray;
  color: white;
  text-align: center;
  text-decoration: none;
}
.footer a{
    font-weight: bold;
}

.footer a {
  color: white;
}
.footerlogo{
    

}
.location{
    text-align: right;
}
.locationlogo p{
    color:black;
    font-weight: bold;
}
.locationlogo{
    display: inline-block;

}
.locationlogo img {
    width: 40px;
}

/*------------------ product-list --------------------*/
.product-list {
    width: 350px;
    height: 300px;
    display: inline-block;
    margin-top: 25px;
    margin-left: 23px;
    padding: 10px;
    text-align: center;

}

.product-anchor {
    background-color: #0d4b77;
    padding: 10px;
    display: block;
}

.product_photo {
  border: 1px solid white;
}

.product_text {
  margin-bottom: 10px;
  margin-top: 10px;
  color: white;
    height: 35px;
}

.products-container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
    margin-top: 25px;

}

/*--------------------Index Body------------------*/

.indexbody {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.body-p {
    color: #0b6cb3;
    font-weight: bold;
    font-size: 24px;
}

.favorites {
    margin-left: 10px;
    margin-top: 25px;
    margin-bottom: 20px;
    display: inline-block;
    padding: 20px;
    background-color: #0b6cb3;
}

.favorites a {
  color: white;
  text-shadow: 1px 1px gray;
}

/*---------------------Contactformulier------------------*/
.bericht {
  text-align: center;
  font-style: oblique;
  color: #0d4b77;
  text-shadow: 0.1px 0.1px gray;
  font-weight: bold;
}

.contactformulier {
  text-align: center;
}

.contactformulier input[type=text], select {
  width: 25%;
  padding: 2px 1px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

.contactformulier button[type=submit] {
  width: 25%;
  background-color: #0d4b77;
  color: white;
  padding: 10px 7px;
  margin: 6px 0;
  border: none;
  border-radius: 6px;
  cursos: pointer;
}

.contactformulier button[type=submit]:hover {
  background-color: #0349fc;
}
